# Disable CI triggers, only called using Maestro
trigger: none

# Moves code from GitHub into internal repos
jobs:
- template: /eng/common/templates/jobs/jobs.yml
  parameters:
    enableTelemetry: true
    helixRepo: dotnet/arcade
    jobs:
    - job: Merge_GitHub_to_Azure_DevOps
      pool:
        name: Hosted VS2017
      variables:
      - name: WorkingDirectoryName
        value: repo-dir
      steps:
      - task: PowerShell@1
        displayName: Calculate Mirrored Branch Names
        inputs:
          scriptType: inlineScript
          arguments: '$(GithubRepo) $(BranchToMirror)'
          inlineScript: |
            param([string]$repo, [string]$branch)
          
            $azDORepo = $repo.Replace("/", "-");
            # Check that the parameters look correct
            if ($azDORepo -eq "" -or $branch -eq "")
            {
              Write-Error "Expected valid branch and GitHub repo in the form of owner/repo"
            }
            Write-Host "##vso[task.setvariable variable=AzDORepoName]$azDORepo"
            Write-Host "Mirroring branch '$branch' from GitHub repo '$repo' to Azure DevOps repo '$azDORepo'."
      - script: |
          git clone https://dotnet-maestro-bot:$(BotAccount-dotnet-maestro-bot-PAT)@github.com/$(GithubRepo) $(WorkingDirectoryName) -b $(BranchToMirror)
        displayName: Clone GitHub repo
      - script: |
          git remote add azdo-mirror https://dn-bot:$(dn-bot-dnceng-build-rw-code-rw)@dev.azure.com/dnceng/internal/_git/$(AzDORepoName)
        displayName: Add Azure DevOps remote
        workingDirectory: $(WorkingDirectoryName)
      - script: |
          git reset --hard origin/$(BranchToMirror)
        displayName: Hard reset local branch to GitHub branch
        workingDirectory: $(WorkingDirectoryName)
      - script: |
          git push azdo-mirror $(BranchToMirror) $(ExtraPushArgs)
          if %errorlevel% neq 0 git fetch azdo-mirror & git push azdo-mirror $(BranchToMirror) $(ExtraPushArgs)
          if %errorlevel% neq 0 git fetch azdo-mirror & git push azdo-mirror $(BranchToMirror) $(ExtraPushArgs)
          if %errorlevel% neq 0 (
            @echo git failed to push to mirror. This is often 
            @echo because a commit exists in the mirror that 
            @echo does not exist in the source. Verify that 
            @echo the mirror and source branches are the same.
            @echo
            @echo Suspect commits:
            git --no-pager log --oneline --all $(BranchToMirror)..azdo-mirror/$(BranchToMirror)
          )
        displayName: Push changes to Azure DevOps repo
        workingDirectory: $(WorkingDirectoryName)