variables:
  - name: _TeamName
    value: DotNetCore
resources:
  containers:
  - container: LinuxContainer
    image: microsoft/dotnet-buildtools-prereqs:ubuntu-14.04-cross-0cd4667-20170319080304

jobs:
- template: /eng/common/templates/jobs/jobs.yml
  parameters:
    enableMicrobuild: true
    enablePublishBuildArtifacts: true
    enablePublishTestResults: true
    enablePublishBuildAssets: true
    enableTelemetry: true
    helixRepo: dotnet/arcade
    jobs:
    - job: Windows_NT
      pool:
        # For public or PR jobs, use the hosted pool.  For internal jobs use the internal pool.
        # Will eventually change this to two BYOC pools.
        ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
          name: NetCorePublic-Int-Pool
          queue: Windows.10.Amd64.Open
        ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          name: dotnet-internal-temp
      variables:
      # Only enable publishing in non-public, non PR scenarios.
      - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        # DotNet-Blob-Feed provides: dotnetfeed-storage-access-key-1
        # DotNet-Symbol-Server-Pats provides: microsoft-symbol-server-pat, symweb-symbol-server-pat
        # Publish-Build-Assets provides: MaestroAccessToken, BotAccount-dotnet-maestro-bot-PAT
        - group: DotNet-Blob-Feed
        - group: DotNet-Symbol-Server-Pats
        - group: Publish-Build-Assets
        - name: _PublishBlobFeedUrl
          value: https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json
        - name: _InternalBuildArgs
          value: /p:DotNetSignType=$(_SignType) /p:TeamName=$(_TeamName)
            /p:DotNetPublishBlobFeedKey=$(dotnetfeed-storage-access-key-1)
            /p:DotNetPublishBlobFeedUrl=$(_PublishBlobFeedUrl)
            /p:DotNetPublishToBlobFeed=$(_DotNetPublishToBlobFeed)
            /p:DotNetSymbolServerTokenMsdl=$(microsoft-symbol-server-pat)
            /p:DotNetSymbolServerTokenSymWeb=$(symweb-symbol-server-pat)
            /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
      # else
      - ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
        - name: _InternalBuildArgs
          value: ''
      strategy:
        matrix:
          Build_Debug:
            _BuildConfig: Debug
            _PublishType: none
            _SignType: test
            _DotNetPublishToBlobFeed : false
            _Script: eng\common\cibuild.cmd
            _ValidateSdkArgs: ''
          Build_Release:
            _BuildConfig: Release
            # PRs or external builds are not signed.
            ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
              _PublishType: none
              _SignType: test
              _DotNetPublishToBlobFeed : false
              _Script: eng\common\cibuild.cmd
            ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
              _PublishType: blob
              _SignType: real
              _DotNetPublishToBlobFeed : true
              _Script: eng\validate-sdk.cmd
              _ValidateSdkArgs: -gitHubPat $(BotAccount-dotnet-maestro-bot-PAT) -barToken $(MaestroAccessToken)
      steps:
      - checkout: self
        clean: true
      # Use utility script to run script command dependent on agent OS.
      - script: $(_Script)
          -configuration $(_BuildConfig) 
          -prepareMachine
          $(_InternalBuildArgs)
          $(_ValidateSdkArgs)
        displayName: Windows Build / Publish

    - job: Linux
      container: LinuxContainer
      pool:
        ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
          name: dnceng-linux-external-temp
        ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          name: dnceng-linux-internal-temp
      strategy:
        matrix:
          Build_Debug:
            _BuildConfig: Debug
            _PublishType: none
            _SignType: none
            _DotNetPublishToBlobFeed : false
          Build_Release:
            _BuildConfig: Release
            _PublishType: none
            _SignType: none
            _DotNetPublishToBlobFeed : false
      steps:
      - checkout: self
        clean: true
      - script: eng/common/cibuild.sh
          --configuration $(_BuildConfig)
          --prepareMachine
        displayName: Unix Build / Publish
