trigger: none

variables:
- template: /eng/common-variables.yml@self
  parameters:
    signType: test
- template: /eng/common/templates-official/variables/pool-providers.yml@self

resources:
  containers:
  - container: LinuxContainer
    image: mcr.microsoft.com/dotnet-buildtools/prereqs:azurelinux-3.0-net10.0-fpm-amd64
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool:
      name: $(DncEngInternalBuildPool)
      image: windows.vs2022.amd64
      os: windows

    stages:
    - template: /eng/build.yml@self
