trigger:
  batch: true
  branches:
    include:
    - master
    - release/3.x
    
pr:
  branches:
    include:
    - master
    - release/3.x
    - templates
  paths:
    exclude:
    - Documentation/*
    
variables:
- template: eng/common-variables.yml

resources:
  containers:
  - container: LinuxContainer
    image: microsoft/dotnet-buildtools-prereqs:ubuntu-14.04-cross-0cd4667-20170319080304

stages:
- stage: Build
  displayName: Build
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      artifacts:
        publish:
          artifacts: true
          logs: true
          manifests: true
      enableMicrobuild: true
      enablePublishUsingPipelines: true
      graphFileGeneration:
        enabled: true
        includeToolset: true
      workspace:
        clean: all
      jobs:
      - job: Windows_NT
        timeoutInMinutes: 90
        pool:
          ${{ if eq(variables._RunAsPublic, True) }}:
            name: NetCorePublic-Pool
            queue: BuildPool.Windows.10.Amd64.VS2017.Open
          ${{ if eq(variables._RunAsInternal, True) }}:
            name: NetCoreInternal-Pool
            queue: BuildPool.Windows.10.Amd64.VS2017
        strategy:
          matrix:
            Build_Release:
              _BuildConfig: Release
            ${{ if eq(variables._RunAsPublic, True) }}:
              Build_Debug:
                _BuildConfig: Debug
        preSteps:
        - checkout: self
          clean: true
        steps:
        - script: eng\common\cibuild.cmd
            -configuration $(_BuildConfig) 
            -prepareMachine
            $(_InternalBuildArgs)
            /p:Test=false
          displayName: Windows Build / Publish
      - ${{ if eq(variables._RunAsPublic, True) }}:
        - job: Linux
          container: LinuxContainer
          pool:
            name:  NetCorePublic-Pool
            queue: BuildPool.Ubuntu.1604.Amd64.Open
          strategy:
            matrix:
              Build_Debug:
                _BuildConfig: Debug
              Build_Release:
                _BuildConfig: Release
          preSteps:
          - checkout: self
            clean: true
          steps:
          - script: eng/common/cibuild.sh
              --configuration $(_BuildConfig)
              --prepareMachine
              /p:Test=false
            displayName: Unix Build / Publish

- ${{ if eq(variables._RunAsPublic, True) }}:
  - stage: Test
    dependsOn: Build
    jobs:
    - template: /eng/common/templates/jobs/jobs.yml
      parameters:
        artifacts:
          publish:
            artifacts:
              name: Artifacts_Test_$(Agent.OS)_$(_BuildConfig)
            logs: 
              name: Logs_Test_$(Agent.OS)_$(_BuildConfig)
          download: true
        workspace:
          clean: all
        jobs:
        - job: Windows_NT
          timeoutInMinutes: 90
          pool:
            vmimage: windows-latest
          strategy:
            matrix:
              Build_Release:
                _BuildConfig: Release
              Build_Debug:
                _BuildConfig: Debug
          preSteps:
          - checkout: self
            clean: true
          steps:
          - powershell: eng\common\build.ps1
              -configuration $(_BuildConfig) 
              -prepareMachine
              -ci
              -restore
              -test
              -projects $(Build.SourcesDirectory)\tests\UnitTests.proj
              /bl:$(Build.SourcesDirectory)\artifacts\log\$(_BuildConfig)\Helix.binlog
              /p:RestoreUsingNuGetTargets=false
            displayName: Run Helix Tests
            env:
              SYSTEM_ACCESSTOKEN: $(System.AccessToken)
              HelixAccessToken: ''
        - job: Linux
          container: LinuxContainer
          pool:
            vmimage: ubuntu-latest
          strategy:
            matrix:
              Build_Debug:
                _BuildConfig: Debug
              Build_Release:
                _BuildConfig: Release
          preSteps:
          - checkout: self
            clean: true
          steps:
          - script: eng/common/build.sh
              --configuration $(_BuildConfig)
              --prepareMachine
              --ci
              --restore
              --test
              --projects $(Build.SourcesDirectory)/tests/UnitTests.proj
              /bl:$(Build.SourcesDirectory)/artifacts/log/$(_BuildConfig)/Helix.binlog
              /p:RestoreUsingNuGetTargets=false
            displayName: Run Helix Tests
            env:
              SYSTEM_ACCESSTOKEN: $(System.AccessToken)
              HelixAccessToken: ''

- ${{ if eq(variables._RunAsInternal, True) }}:
  - stage: ValidateSdk
    displayName: Validate Arcade SDK
    dependsOn: Build
    jobs:
    - template: /eng/validate-sdk.yml
      parameters:
        buildArgs: -configuration $(_BuildConfig) 
          -prepareMachine
          $(_InternalBuildArgs)
          /p:Test=false

  - template: eng\common\templates\post-build\post-build.yml
    parameters:
      # Symbol validation isn't being very reliable lately. This should be enabled back
      # once this issue is resolved: https://github.com/dotnet/arcade/issues/2871
      enableSymbolValidation: false
      # Sourcelink validation isn't passing for Arcade due to some regressions. This should be
      # enabled back once this issue is resolved: https://github.com/dotnet/arcade/issues/2912
      enableSourceLinkValidation: false
      publishDependsOn:
      - Validate
      - ValidateSdk
      # This is to enable SDL runs part of Post-Build Validation Stage
      SDLValidationParameters:
        enable: true
        continueOnError: false
        params: ' -SourceToolsList @("policheck","credscan")
        -TsaInstanceURL "https://devdiv.visualstudio.com/"
        -TsaProjectName "DEVDIV"
        -TsaNotificationEmail "dnceng@microsoft.com"
        -TsaCodebaseAdmin "REDMOND\dn-bot"
        -TsaBugAreaPath "DevDiv\NET\NET Core "
        -TsaIterationPath "DevDiv"
        -TsaRepositoryName "Arcade"
        -TsaCodebaseName "Arcade"
        -TsaPublish $True'
