<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" >
  <?ifndef InstallerPlatform?>
    <?define InstallerPlatform = "$(sys.BUILDARCH)"?>
  <?endif?>

  <!-- InstallerNativeMachine matches the expected values for image file machine constants
       https://docs.microsoft.com/en-us/windows/win32/sysinfo/image-file-machine-constants -->
  <?if $(InstallerPlatform)~=x86?>
    <?define InstallerNativeMachine=332?>
  <?elseif $(InstallerPlatform)~=x64?>
    <?define InstallerNativeMachine=34404?>
  <?elseif $(InstallerPlatform)~=arm64?>
    <?define InstallerNativeMachine=43620?>
  <?else?>
    <?error Unknown platform, $(InstallerPlatform) ?>
  <?endif?>

  <Fragment>
    <util:QueryNativeMachine />
    
    <!-- Identify when installing in emulation as when WIX_NATIVE_MACHINE does not match the installer 
         native machine (where supported). Also detect running under WOW on x86 using VersionNT64, 
         since WIX_NATIVE_MACHINE cannot be retrieved on older Windows builds. -->
    <?if $(InstallerPlatform)~=x86?>
      <SetProperty Action="Set_NON_NATIVE_ARCHITECTURE" Id="NON_NATIVE_ARCHITECTURE" Value="true" Before="CostFinalize" Condition="VersionNT64 OR WIX_NATIVE_MACHINE AND NOT WIX_NATIVE_MACHINE=$(InstallerNativeMachine)" />
    <?else?>
      <SetProperty Action="Set_NON_NATIVE_ARCHITECTURE" Id="NON_NATIVE_ARCHITECTURE" Value="true" Before="CostFinalize" Condition="WIX_NATIVE_MACHINE AND NOT WIX_NATIVE_MACHINE=$(InstallerNativeMachine)" />
    <?endif?>
  </Fragment>

  <?if $(InstallerPlatform)~=x64?>
  <Fragment>
    <!-- When running in a non-native architecture and user hasn't specified install directory,
         install to an x64 subdirectory.
         This is only defined for x64, since x86 has redirection and no other native architecture can install ARM64 today -->
    <SetProperty Action="Set_DOTNETHOME_NON_NATIVE_ARCHITECTURE" Id="DOTNETHOME" Value="[ProgramFiles64Folder]dotnet\x64\" After="Set_NON_NATIVE_ARCHITECTURE"
                 Condition="NON_NATIVE_ARCHITECTURE AND NOT DOTNETHOME" />
  </Fragment>
  <?endif?>
</Wix>
