<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for codeAnalysis tool" Description="Set of rules for codeAnalysis tool" ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="RS1017" Action="None" />
  </Rules>
</RuleSet>