<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:dep="http://wixtoolset.org/schemas/v4/wxs/dependency">
  <Fragment>
    <Feature Id="F_DependencyProvider" AllowAbsent="no" AllowAdvertise="no" Description="Support for package reference counting."
             Display="hidden" InstallDefault="local" Level="1" Title="RefCounting" TypicalDefault="install">
      <Component Id="C_DependencyProvider" Bitness="always32" Directory="TARGETDIR" Guid="*">
        <Provides Key="$(DependencyProviderKeyName)" dep:Check="yes" />
      </Component>
    </Feature>
  </Fragment>
</Wix>
