<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <!-- All the directories are broken into separate fragments. References to specific directories should be sufficient to
       pull them into an installer. -->
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="DOTNETHOME" Name="dotnet" />
    </StandardDirectory>

    <!-- This custom action is necessary to override the DOTNETHOME value when installing x64 on arm64. -->
    <?if $(InstallerPlatform)~=x64?>
    <CustomActionRef Id="Set_DOTNETHOME_NON_NATIVE_ARCHITECTURE" />
    <?endif?>
  </Fragment>

  <?ifdef WorkloadSetVersion?>
  <Fragment>
    <DirectoryRef Id="SdkFeatureBandVersionDir">
      <Directory Id="WorkloadSetsDir" Name="workloadsets">
        <Directory Id="WorkloadSetVersionDir" Name="$(WorkloadSetVersion)" />
      </Directory>
    </DirectoryRef>
  </Fragment>
  <?endif?>
</Wix>
