<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="DOTNETHOME" Name="dotnet">
          <Directory Id="InstallDir" Name="$(var.InstallDir)">
            <?if $(var.PackKind) != "library" and $(var.PackKind) != "template"?>
            <Directory Id="PackageDir" Name="$(var.PackageId)">
              <Directory Id="VersionDir" Name="$(var.PackageVersion)" />
            </Directory>
            <?endif?>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <?if $(var.Platform) = x64 ?>
    <CustomActionRef Id="Set_DOTNETHOME_x64" />
    <?endif?>
  </Fragment>

  <Fragment>
    <Property Id="PROCESSOR_ARCHITECTURE">
      <RegistrySearch Id="Search_PROCESSOR_ARCHITECTURE"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
                      Name="PROCESSOR_ARCHITECTURE"
                      Type="raw" />
    </Property>
    
    <!-- Identify when installing in emulation as when PROCESSOR_ARCHITECTURE is not AMD64
         https://docs.microsoft.com/en-us/windows/win32/winprog64/wow64-implementation-details -->
    <SetProperty Id="INSTALLING_IN_EMULATION" Value="true" Before="Set_DOTNETHOME_x64">
      NOT PROCESSOR_ARCHITECTURE="AMD64"
    </SetProperty>
    <!-- When running in x64 emulation and user hasn't specified install directory, install to an x64 subdirectory-->
    <SetProperty Action="Set_DOTNETHOME_x64" Id="DOTNETHOME" Value="[$(var.ProgramFilesFolder)]dotnet\x64\" Before="CostFinalize">
      INSTALLING_IN_EMULATION AND NOT DOTNETHOME
    </SetProperty>
  </Fragment>
</Wix>
