<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="__DIR_REF_ID__">
      <Directory Id="__DIR_ID__" Name="__DIR_NAME__" />
    </DirectoryRef>
  </Fragment>
</Wix>
