<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package UpgradeCode="$(UpgradeCode)" Version="$(ProductVersion)" Manufacturer="$(Manufacturer)"
           InstallerVersion="$(InstallerVersion)" Compressed="yes"
           Scope="perMachine" Language="$(ProductLanguage)" Name="$(ProductName)">

    <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

    <!-- MajorUpgrade element doesn't support setting the language attribute in the upgrade table. -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Maximum="$(var.ProductVersion)" MigrateFeatures="yes" IncludeMinimum="no" Property="WIX_UPGRADE_DETECTED" />
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Property="WIX_DOWNGRADE_DETECTED" />
    </Upgrade>

    <!-- The new MSI is installed before the older version is removed. This is the fastest upgrade option. -->
    <InstallExecuteSequence>
      <!-- See https://docs.microsoft.com/en-us/windows/win32/msi/removeexistingproducts-action for other options -->
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <Launch Condition="NOT WIX_DOWNGRADE_DETECTED"
            Message="A newer version of [ProductName] is alread installed." />

    <!-- Record the original package used to generate the MSI -->
    <Property Id="PackageId" Value="$(var.PackageId)" />
    <Property Id="PackageVersion" Value="$(var.PackageVersion)" />

    <Feature Id="F_PackageContents">
      <ComponentGroupRef Id="CG_PackageContents"/>
      <?if $(var.IncludePackGroupJson) = "true" ?>
      <ComponentGroupRef Id="CG_PackGroupJson"/>
      <?endif?>
    </Feature>

    <FeatureRef Id="F_DependencyProvider" />
    <FeatureRef Id="F_RegistryKeys" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.EulaRtf)" />
    <ui:WixUI Id="WixUI_Minimal"/>
  </Package>
</Wix>
