<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package ProductCode="$(ProductCode)" UpgradeCode="$(UpgradeCode)" Version="$(ProductVersion)" 
           Manufacturer="$(Manufacturer)" InstallerVersion="$(InstallerVersion)" Compressed="yes"
           Scope="perMachine" Language="$(ProductLanguage)" Name="$(ProductName)">

    <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

    <!-- Record the original package used to generate the MSI -->
    <Property Id="PackageId" Value="$(var.PackageId)" />
    <Property Id="PackageVersion" Value="$(var.PackageVersion)" />

    <Feature Id="F_PackageContents">
      <ComponentGroupRef Id="CG_PackageContents"/>
    </Feature>

    <FeatureRef Id="F_DependencyProvider" />
    <FeatureRef Id="F_RegistryKeys" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.EulaRtf)" />
    <ui:WixUI Id="WixUI_Minimal"/>
  </Package>
</Wix>
