<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Feature Id="F_RegistryKeys" AllowAbsent="no" AllowAdvertise="no" Description="Registry keys."
             Display="hidden" InstallDefault="local" Level="1" Title="Workload Pack Registration" TypicalDefault="install">
      <Component Id="C_InstalledPack" Bitness="$(Bitness)" Directory="TARGETDIR">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\dotnet\$(var.InstallationRecordKey)\$(InstallerPlatform)\$(PackageId)\$(PackageVersion)">
          <RegistryValue Name="DependencyProviderKey" Type="string" Value="$(DependencyProviderKeyName)" KeyPath="yes"/>
          <RegistryValue Name="ProductCode" Type="string" Value="$(ProductCode)"/>
          <RegistryValue Name="UpgradeCode" Type="string" Value="$(UpgradeCode)"/>
          <RegistryValue Name="ProductVersion" Type="string" Value="$(ProductVersion)" />
          <RegistryValue Name="ProductLanguage" Type="integer" Value="$(ProductLanguage)" />
        </RegistryKey>
      </Component>
    </Feature>
  </Fragment>
</Wix>
