<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package ProductCode="$(ProductCode)" Name="$(ProductName)" Language="$(ProductLanguage)" Version="$(ProductVersion)"
           Manufacturer="$(Manufacturer)" UpgradeCode="$(UpgradeCode)"
           InstallerVersion="$(InstallerVersion)" Compressed="yes" Scope="perMachine" UpgradeStrategy="$(UpgradeStrategy)">

    <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

    <!-- Record the original package used to generate the MSI -->
    <Property Id="PackageId" Value="$(PackageId)" />
    <Property Id="PackageVersion" Value="$(PackageVersion)" />

    <Feature Id="F_PackageContents">
      <ComponentGroupRef Id="CG_PackageContents"/>

      <!-- Workload set installation record, similar to workload pack records. -->
      <Component Id="C_InstalledWorkloadSet" Bitness="$(Bitness)" Directory="TARGETDIR">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\dotnet\$(InstallationRecordKey)\$(InstallerPlatform)\$(SdkFeatureBandVersion)\$(PackageVersion)">
          <RegistryValue Name="DependencyProviderKey" Type="string" Value="$(DependencyProviderKeyName)" KeyPath="yes"/>
          <RegistryValue Name="ProductCode" Type="string" Value="$(ProductCode)"/>
          <RegistryValue Name="UpgradeCode" Type="string" Value="$(UpgradeCode)"/>
          <RegistryValue Name="ProductVersion" Type="string" Value="$(ProductVersion)" />
          <RegistryValue Name="ProductLanguage" Type="integer" Value="$(ProductLanguage)" />
        </RegistryKey>
      </Component>
    </Feature>

    <FeatureRef Id="F_DependencyProvider" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.EulaRtf)" />
    <ui:WixUI Id="WixUI_Minimal"/>
  </Package>
</Wix>
