#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
FILEVERSION     9,9,9,9
PRODUCTVERSION  9,9,9,9
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x22L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "WindowsStoreAppLauncher.exe"
            VALUE "FileVersion", "9.9.9.9"
            VALUE "InternalName", "WindowsStoreAppLauncher.exe"
            VALUE "LegalCopyright", "Copyright (C) 2050"
            VALUE "OriginalFilename", "WindowsStoreAppLauncher.exe"
            VALUE "ProductName", "WindowsStoreAppLauncher"
            VALUE "ProductVersion", "9.9.9.9"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252

    END
END
